body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

header .active {
    border-bottom: 5px solid var(--blue);
}
header .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
li.nav-item.r1 {
    margin: 0 2rem;
}
.navbar-brand {
    width: 100px
}

.navbar-brand img {
    width: 80px
}

.nav-tabs .nav-link{
    border: 1px solid #ddd;
    border-bottom: 5px solid #e5e8f1;
}

#nav-tab .active {
    border-bottom: 5px solid var(--blue);
}

.nav-link {
    color: initial !important
}

header .menu-links {
    height: 50px !important;
    color: var(--blue) !important;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linked {
    color: #444;
    font-size: 20px;
}

::placeholder{color: var(--blue) !important}
::-moz-placeholder{color: var(--blue) !important}
::-webkit-input-placeholder{color: var(--blue) !important}


.btn-subscribe {
    text-decoration: none !important;
    display: inline-block;
    box-shadow: 0px 0px 3px var(--blue)
}

main {
    min-height: 95vh;
    position: relative;
}

ol a {
    text-decoration: none !important
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>' !important;
}
.breadcrumb-item a{
    color: #868e96 !important;
}

header .nav-link {
    padding: .5rem 1rem
}

header .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

}

.serv {
    border-bottom: 3px solid var(--blue);
    display: inline-block;
}

header .nav-btns {
    white-space: nowrap;
    color: white !important;
}

.nav-btns {
    box-shadow: 0px 0px 20px -3px var(--blue);
}

.message-icon {
    position: fixed;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    bottom: 80px;
    cursor: pointer;
}
.message-icon img{
    width: 38px;
}

input.form-control {
    border-color: var(--blue);
    position: relative;
}

input.form-control:after {
    position: absolute;
    right: 10px;
    bottom: 3px;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
    border-top: 3px solid var(--blue);
}

select.form-control {
    border-color: var(--blue);
}
.caret{
    width: 16px;
    position: absolute;
    right: 4px;
    bottom: 10px;
}
.custom-content {
    max-width: 350px;
}
.custom-sel{
    position: relative;
}
.custom-sel select{
    background: url('../img/caret.svg') 97% center no-repeat;
    background-size: 15px;
    -webkit-appearance: none;
}

.form-control {
    border-radius: 0 !important;
    font-size: 13px;
    padding: 10px;
    box-shadow: 0px 2px 4px -2px var(--blue);
}
.imgs{
    width: 50px;
}
footer{
    background-color: #084a5e;
    font-size: .75rem;
}
@media (min-width: 992px) {
    .container {
        max-width: 1200px !important;
    }
}